* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  background-color: #282d35;
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #1f232a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo {
  height: 28.93px;
  margin-right: 7px;
}

.nav--logo_text {
  margin-right: auto;
  font-size: 22px;
  letter-spacing: -0.05em;
  color: #61dafb;
}

.nav--title {
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
}

main {
  padding: 57px 27px;
  color: #ffffff;
  background-image: url(./images/logo512.png);
  background-repeat: no-repeat;
  background-position: 480px 98%;
  background-size: 250px;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--list {
  width: 390px;
  margin-top: 46px;
}

.main--list > li {
  padding-block: 10px;
}

.main--list > li::marker {
  font-size: 1rem;
  color: #61dafb;
}

/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #effbfe;
  } */
